name: Render Quarto (revealjs)

on:
  workflow_dispatch:
  push:

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: "4.3"

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R packages
        run: |
          Rscript -e 'install.packages(c(
            "knitr","rmarkdown",
            "ggplot2",
            "dplyr","tidyr","readr",
            "tibble",
            "stringr",
            "kableExtra"
          ), repos="https://cloud.r-project.org")'

      - name: Render
        run: quarto render

      - name: Upload rendered output
        uses: actions/upload-artifact@v4
        with:
          name: rendered
          path: .
