name: Render Quarto (revealjs)

on:
  workflow_dispatch:
  push:

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render
        run: quarto render

      - name: Upload rendered output
        uses: actions/upload-artifact@v4
        with:
          name: rendered
          path: .
