name: Sync from upstream

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"  # every 10 minutes

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync fork
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4
        with:
          upstream_repository: jfrench/mathstats
          upstream_branch: main
          target_branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
